
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playwrite+HU&family=Roboto:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');
*{
    box-sizing: content-box;
}

body{
    margin:0;
    background-color: hsl(212, 45%, 89%);
    display:flex; 
    justify-content: center;
    align-items:center;
   
}
.container{
    background-color: whitesmoke;
    margin-top:8rem;
    width:15rem;
    height:25rem;
    padding: 15px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.05);
}
img{
    width:100%;
    border-radius: 10px;
}
h1{
    font-family: "Outfit", sans-serif;
    font-style: bold;
    font-weight:700px;
    margin-top: 20px;
    font-size: 17px;
    text-align:center;
    color:hsl(218, 44%, 22%);
}
p{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight:400px;
    font-size: 15px;
    text-align:center;
    color:hsl(216, 15%, 48%);
}
#font{
    padding:0px 20px;
}
@media (max-width: 600px), screen and (orientation: portrait){
    margin-top: 2rem;
}